.container{
    border: 2px solid rgba(108,117,125,0.25);
    border-radius: 5px;
}

img{
    border-radius: 5px;
    width: 100%;
    height: auto;
}

#navbarBrand{
    font-weight: bold;
}

#navbarHR{
    padding-bottom: 2px;
}

#userQuotes{
    font-style: italic;
}