<!--
328/dating/views/home.html
Phillip Ball
04/21/2021
This is the home page of a dating site that I made for the Week 4 assignment "Dating 1"
-->

<include href="views/header.html"/>

    <!-- Container -->
    <div class="container py-3 px-4 row mx-auto">
        <!-- Left side -->
        <div class="col-12 col-lg-6">
            <!-- Title and Description -->
            <h1 class="text-center">Grumpy Cats</h1>
            <p>Welcome to <strong>the</strong> website that helps cool cats like yourself find others that are also trying to ungrumpify themselves through the company of another. Users match depending on level of grump and whether you're an outdoor or an indoor cat. We guarantee you'll feel much less grumpy in no time!</p>

            <!-- User Quotes -->
            <h5 class="text-center">Hear what our users are saying about us.</h5>
            <hr>
            <div class="px-4" id="userQuotes">
                <p>"I've finally found my cupcake!" - Sprinkles</p>
                <p>"Food was the only thing that made me happy before, now I have someone to enjoy food with and it couldn't be better." - Chubbs</p>
                <p>"Meow!" - Princess Stinky Pants the 3rd</p>
            </div> <!-- User Quotes End -->
            <hr>

            <!-- Button -->
            <div class="text-center">
                <a class="btn btn-primary btn-lg mb-3" href="personalInfo">Create a Profile!</a>
            </div> <!-- Button End -->
        </div> <!-- Left Side End -->

        <!-- Right Side -->
        <div class="col-12 col-lg-6">
            <img src="images/cats.jpg" alt="two cats laying next to each other" id="homeImg">
        </div> <!-- Right Side End -->
    </div> <!-- Container End -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>