<!--
328/dating/views/summary.html
Phillip Ball
04/27/2021
This is the form summary for a dating site that I made for the assignment "Dating 2"
-->

<include href="views/header.html"/>

    <!-- Container -->
    <div class="container mx-auto mb-4 row">
        <!-- Left Half -->
        <div class="col-12 col-md-6 my-4 pt-3" id="newUserInfo">
            <p>Name: {{ @SESSION.user->getFname() }} {{ @SESSION.user->getLname() }}</p><hr>
            <p>Gender: {{ @SESSION.user->getGender() }}</p><hr>
            <p>Age: {{ @SESSION.user->getAge() }}</p><hr>
            <p>Phone: {{ @SESSION.user->getPhone() }}</p><hr>
            <p>Email: {{ @SESSION.user->getEmail() }}</p><hr>
            <p>State: {{ @SESSION.user->getState() }}</p><hr>
            <p>Seeking: {{ @SESSION.user->getSeeking() }}</p>

            <check if="{{ @SESSION.user instanceof PremiumMember }}">
                <hr><p>
                    Interests:
                    {{ implode(' ', @SESSION.user->getInDoorInterests()) }}
                    {{ implode(' ', @SESSION.user->getOutDoorInterests()) }}
                </p>
            </check>
        </div> <!-- Left Half END -->

        <!-- Right Half -->
        <div class="col-12 col-md-6">
            <!-- Profile Picture -->
            <div class="mx-auto mt-3 w-75">
                <img src="images/placeholder.png" alt="profile picture" id="profilePic">
            </div>
            <!-- Biography -->
            <div class="mx-5 mt-5">
                <p id="bioTitle">Biography</p>
                <p class="mx-1">{{ @SESSION.user->getBio() }}</p>
            </div>
        </div> <!-- Right Half END -->

        <!-- Submit Button -->
        <div class="d-flex justify-content-center my-4">
            <button type="submit" class="btn btn-primary btn-lg">Contact Me!</button>
        </div>
    </div> <!-- Container END -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>