/*
 * 328/dating/styles/styles.css
 * Phillip Ball
 * 04/29/2021
 * This is the style sheet for the Dating assignments
*/

.container{
    border: 2px solid rgba(108,117,125,0.25);
    border-radius: 5px;
}

#navbarBrand{
    font-weight: bold;
}

#navbarHR{
    padding-bottom: 2px;
}

#homeImg, #profilePic{
    border-radius: 5px;
    width: 100%;
    height: auto;
}

/* used in just home.html */
#userQuotes{
    font-style: italic;
}

/* used in just personalInfo.html */
#privacyNote{
    background-color: lightgray;
    border: 2px solid darkgray;
    border-radius: 5px;
    padding: 5px;
}

/* used in just summary.html */
#newUserInfo{
    border: 2px solid rgba(108,117,125,0.25);
    border-radius: 5px;
    height: 75%;
}

#bioTitle{
    font-size: larger;
}